/* ###### Tags  ###### */

.tag {
  font-size: 0.75rem;
  color: $white;
  background-color: #e9edfb;
  border-radius: 0px;
  padding: 0 .5rem;
  line-height: 2em;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: default;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.tag {
  text-decoration: none;
  cursor: pointer;
  transition: .3s color, .3s background;

  &:hover {
    background-color: rgba(110, 118, 135, 0.2);
    color: inherit;
  }
}

.tag-addon {
  display: inline-block;
  padding: 0 .5rem;
  color: inherit;
  text-decoration: none;
  background:rgb(215, 222, 247);
  margin: 0 .5rem 0 -.5rem;
  text-align: center;
  min-width: 1.5rem;

  &:last-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  i {
    vertical-align: middle;
    margin: 0 -.25rem;
  }
}

a.tag-addon {
  text-decoration: none;
  cursor: pointer;
  transition: .3s color, .3s background;

  &:hover {
    background: rgba(0, 0, 0, 0.16);
    color: inherit;
  }
}

.tag-avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3px 0 0 3px;
  margin: 0 .5rem 0 -.5rem;
}

.tag-blue {
  background-color: #467fcf;
  color: $white;
}

.tag-indigo {
  background-color: $primary;
  color: $white;
}

.tag-purple {
  background-color: #8500ff;
  color: $white;
}

.tag-pink {
  background-color: #ec82ef;
  color: $white;
}

.tag-red {
  background-color: #ec2d38;
  color: $white;
}

.tag-yellow {
  background-color: #fdb901;
  color: $white;
}

.tag-green {
  background-color: #0fa751;
  color: $white;
}

.tag-cyan {
  background-color: #00b9ff;
  color: $white;
}

.tag-white {
  background-color: $white;
  color: $white;
}

.tag-gray {
  background-color: #868e96;
  color: $white;
}

.tag-gray-dark {
  background-color: #343a40;
  color: $white;
}

.tag-azure {
  background-color: #17c1f4;
  color: $white;
}

.tag-lime {
  background-color: #7bd235;
  color: $white;
}

.tag-primary {
  background-color: #467fcf;
  color: $white;
}

.tag-secondary {
  background-color: $secondary;
  color: $white;
}

.tag-success {
  background-color: $success;
  color: $white;
}

.tag-info {
  background-color: $info;
  color: $white;
}

.tag-danger {
  background-color: #f16d75;
  color: $white;
}

.tag-light {
  background-color: #f8f9fa;
  color: $white;
}

.tag-dark {
  background-color: #8f9cc0;
  color: $white;
}

.tag-rounded {
  border-radius: 50px;

  .tag-avatar {
    border-radius: 50px;
  }
}

.tags {
  margin-bottom: -.5rem;
  font-size: 0;

  > .tag {
    margin-bottom: .5rem;

    &:not(:last-child) {
      margin-left: .5rem;
    }
  }
}


.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 50px;
}

.tag-default {
  background-color: $background;
  color: #828db1;
}

.tag-warning {
  background-color:$warning;
  color: $white;
}


/* ###### Tags  ###### */